<section class="section-breadcrumb py-2">
  <div class="container-lg">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/"><i class="bi bi-house-door-fill"></i></a></li>
        <!-- {% if college %}
        <li class="breadcrumb-item"><a href="#sideMenu" data-bs-toggle="offcanvas" role="button"
            aria-controls="sideMenu">College</a></li>
        {% endif %}
        <li class="breadcrumb-item active" aria-current="page"><a href="#sideMenu" data-bs-toggle="offcanvas"
            role="button" aria-controls="sideMenu">Area</a></li>
        <li class="breadcrumb-item active" aria-current="page">Area</li> -->

      </ol>
    </nav>

    <div class="offcanvas offcanvas-end" tabindex="-1" id="sideMenu" aria-labelledby="sideMenuLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="sideMenuLabel">Areas</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body" data-loaded="0">

      </div>
    </div>
  </div>
</section>