<section class="section-breadcrumb py-2">
  <div class="container-lg">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/"><i class="bi bi-house-door-fill"></i></a></li>
        {% if college %}
        <li class="breadcrumb-item"><a href="#sideMenu" data-bs-toggle="offcanvas" role="button"
            aria-controls="sideMenu">{{ college.tag|upper }}</a></li>
        {% endif %}
        <li class="breadcrumb-item"><a href="#sideMenu" data-bs-toggle="offcanvas" role="button"
            aria-controls="sideMenu">Area</a></li>
        {% if area_num %}
        <li class="breadcrumb-item active" aria-current="page">{{ area_num }}</li>
        {% endif %}

      </ol>
    </nav>

    <div class="offcanvas offcanvas-start" tabindex="-1" id="sideMenu" aria-labelledby="sideMenuLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="sideMenuLabel">Offcanvas</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <div class="dropdown mt-3">
          <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
            Dropdown button
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>