{% extends "base.html" %}
{% block main_content %}
<section class="section">
  <div class="container-lg">
    <div class=" row">
      {% for file in files %}
      <div class="col-lg-6 col-md-6 col-sm-12 mb-1">
        <div class="card h-100 shadow-sm">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">{{ file.name }}</h5>
            {% if file.description %}
            <p class="card-text flex-grow-1">{{ file.description }}</p>
            {% endif %}
            <div class="mt-auto">
              <a href="{{ url_for('programs.area_parameters', program_id=program.tag, area_id=file.slug, drive_id=file.id) }}"
                class="btn btn-sm btn__primary">View</a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
</section>
</div>
{% endblock main_content %}