{% extends "base_content.html" %}

{% block main_content %}
<section class="section">
  <div class="container-lg">
    <div class="wrapper__content-header">
      <div class="row">
        <h2 class="display-6">Programs Under Survey</h2>
      </div>
    </div>
    <div class="row">
      {% set programs = data.programs %}
      {% set prog_count = (12 / (programs | length)) | int %}
      {% for program in programs %}
      <!-- <div class="col-12 col-sm-{{ prog_count }}"> -->
      <div class="col-lg-6 col-sm-12 mb-1">
        <a href="{{ url_for('programs.program_areas', college_id=data.tag, program_id=program.tag) }}">
          <div class="card mb-1 h-100 card__clickable">
            <div class="card-body d-flex flex-column">
              <h5 class="card-title">{{ program.name }} {% if program.major %} - {{ program.major }}{% endif %}</h5>
            </div>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock main_content %}