{% extends "base_content.html" %}

{% block main_content %}
<section class="section">
  <div class="container-lg">
    <div class="wrapper__content-header">
      <div class="row">
        <h2 class="display-6">Programs Under Survey</h2>
      </div>
    </div>
    <div class="row">
      {% set programs = data.programs %}
      {% set prog_count = (12 / (programs | length)) | int %}
      {% for program in programs %}
      <!-- <div class="col-12 col-sm-{{ prog_count }}"> -->
      <div class="col-lg-6 col-sm-12 mb-1">
        <a href="{{ url_for('programs.program_areas', college_id=data.tag, program_id=program.tag) }}">
          <div class="card mb-1 h-100 card__clickable card__large">
            <div class="card-body d-flex flex-column justify-content-center">
              <h5 class="card-title">{{ program.name }} {% if program.major %} - {{ program.major }}{% endif %}</h5>
            </div>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock main_content %}
{% block other_programs %}
<section class="section">
  <div class="container-lg">
    <div class="mb-2">
      <div class="row">
        <h4 class="display-6">Other programs under survey</h4>
      </div>
    </div>
    <div class="row">
      {% set programs = data.programs %}
      <ul class="list-unstyled">
        {% for college in colleges %}
        {% set _college = colleges[college] %}
        {% set tag = _college.tag %}
        {% set other_programs = _college.programs %}
        <li>
          {% if request.route.name == 'server.programs.programs_list' and tag != college_id %}
          <h5 {% if loop.index==2 %} class="mt-3" {% endif %}>
            <a href="{{ url_for('programs.programs_list', college_id=tag) }}">{{ _college.name }}</a>
          </h5>
          <ul class="list-unstyled">
            {% for program in other_programs %}
            {% if program.tag != data.tag %}
            <li class="mb-1">
              <i class="bi bi-arrow-right-short text-secondary"></i>
              <a href="{{ url_for('programs.program_areas', college_id=tag, program_id=program.tag) }}"
                class="link__to-others">{{ program.name }} {% if program.major %} - {{ program.major}} {% endif %}</a>
            </li>
            {% endif %}
            {% endfor %}
          </ul>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>{% endblock other_programs %}