/* static/main.css */

:root {
  --primary-color: #015e30;
  --secondary-color: #e3da22;
  --tertiary-color: #e6e6e6;
}

body {
  font-family: 'DM Sans', sans-serif;
}

.section {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: antiquewhite;
}

.section.hero-header {
  /* background-color: var(--primary-color); */
  /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('img/hero-bg.jpg') no-repeat center center; */
  background: linear-gradient(rgba(1, 94, 48, 0.3), rgba(1, 94, 48, 0.5)),
    url('img/hero-bg2.jpg') no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  color: var(--secondary-color);
}