<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://pit.edu.ph">
        <img src="img/logo.png" alt="Brand Logo" style="max-height: 3.5rem;">
        <span class="has-text-weight-bold">Palompon Institute of Technology</span>
      </a>
  
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" 
        data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
      <!-- <div class="navbar-start">
        <a class="navbar-item">
          Doctor of Management
        </a>
  
        <a class="navbar-item">
          Ph.D. in Technology Management
        </a>
  
      </div> -->
  
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-primary">
              Doctor of Management
            </a>
            <a class="button is-light">
              Ph.D. in Technology Management
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <section class="hero is-fullheight-with-navbar hero-header">
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title is-1 has-text-white">AACCUP Preliminary Survey Visit</h1>
      </div>
    </div>
  </section>
  <section class="hero program-survey">
    <div class="hero-body">
      <div class="container">
        <h1 class="title has-text-centered mb-6">Programs Under Survey</h1>
        <div class="columns is-variable is-8">
          <div class="column">
            <div class="block">
              <h2 class="title is-4">Doctor of Management</h2>
              <p>Content for the first column goes here.</p>
            </div>
          </div>
          <div class="column">
            <div class="block">
              <h2 class="title is-4">Column 2</h2>
              <p>Content for the second column goes here.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
</html>