{% extends "base.html" %}
{% block content %}
<section class="hero is-medium">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">{{ program.name }}</h1>
      {% for file in files %}
      <div class="params-wrapper mb-2">
        <div class="box no-radius" id="{{file.id}}" data-loaded="0">
          <button class="button is-ghost has-text-weight-semibold" id="{{ file.id }}" data-loaded="0"> {{ file.name
            }}</button>
          <div class="params-detail" data-loaded="0">
            <div class="is-skeleton">Loading..</div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock content %}
{% block scripts %}
<script src="{{ url_for('static', filename='scripts.js') }}"></script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const buttons = document.querySelectorAll('.button.is-ghost');
    buttons.forEach(button => {
      button.addEventListener('click', async function () {
        console.log(`Clicked on ${button.id}`);

        // find the params-holder div within the same box
        const box = button.closest('.box');
        const paramsDetailHolder = box.querySelector('.params-detail');
        const skeleton = paramsDetailHolder.querySelector('is-skeleton');
        console.log('Skeleton:', skeleton);
        paramsDetailHolder.style.display = 'block';
        if (paramsDetailHolder.dataset.loaded === '1') {
          return;
        }
        paramsDetailHolder.dataset.loaded = '1';
        try {
          // Insert skeleton loading animation before making the API call
          //const loadingDiv = document.createElement('div');
          //loadingDiv.classList.add('is-skeleton');
          //loadingDiv.textContent = 'Loading...';
          //paramsHolder.insertAdjacentElement('afterend', loadingDiv);
          //const wrapper = `<div class="is-skeleton"></div>`;
          //box.insertAdjacentElement('beforeend', wrapper);          
          // Call getApiData function with the file ID
          const endpoint = "{{ url_for('programs.parameter_details', program_id=program.tag, drive_id='PLACEHOLDER')}}".replace('PLACEHOLDER', button.id);
          const data = await getApiData(endpoint);
          console.log('File data:', data);

          data['files'].forEach(async file => {
            console.log('File:', file);
            skeleton.style.display = 'none';
            const markup = `<div class="block"><div class="title is-6 has-text-weight-medium">${JSON.stringify(file)}</div></div >`;
            paramsDetailHolder.innerHTML += markup;
          });
        } catch (error) {
          console.error('Error fetching file data:', error);
          paramsDetailHolder.dataset.loaded = '0';
          // Handle error (show user notification, etc.)
        }
      });
    });
  });
</script>
{% endblock scripts %}