{% extends "base.html" %}
{% block content %}
<section class="hero is-medium">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">{{ program.name }}</h1>
      {% for file in files %}
      <div class="params-wrapper mb-2">
        <div class="box no-radius" id="{{file.id}}" data-loaded="0">
          <div class="params-header mb-2">
            <button class="button is-ghost has-text-weight-semibold" id="{{ file.id }}" data-loaded="0"> 
              <div class="title is-5">{{ file.name }}</div>
            </button>
          </div>
          <div class="block params-detail" data-loaded="0" style="display: none;">
            <div class="skeleton-block">Loading..</div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock content %}
{% block scripts %}
<script src="{{ url_for('static', filename='scripts.js') }}"></script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const buttons = document.querySelectorAll('.button.is-ghost');
    buttons.forEach(button => {
      button.addEventListener('click', async function () {
        console.log(`Clicked on ${button.id}`);

        // find the params-holder div within the same box
        const box = button.closest('.box');
        const paramsDetailHolder = box.querySelector('.params-detail');
        const skeleton = paramsDetailHolder.querySelector('.skeleton-block');

        paramsDetailHolder.style.display = 'block';
        if (paramsDetailHolder.dataset.loaded === '1') {
          return;
        }
        paramsDetailHolder.dataset.loaded = '1';
        try {
          // Insert skeleton loading animation before making the API call
          //const loadingDiv = document.createElement('div');
          //loadingDiv.classList.add('is-skeleton');
          //loadingDiv.textContent = 'Loading...';
          //paramsHolder.insertAdjacentElement('afterend', loadingDiv);
          //const wrapper = `<div class="is-skeleton"></div>`;
          //box.insertAdjacentElement('beforeend', wrapper);          
          // Call getApiData function with the file ID
          const endpoint = "{{ url_for('programs.parameter_details', program_id=program.tag, drive_id='PLACEHOLDER')}}".replace('PLACEHOLDER', button.id);
          const data = await getApiData(endpoint);

          data['files'].forEach(files => {
            console.log('Files:', files);
            paramsDetailHolder.style.display = 'block';
            skeleton.style.display = 'none';
            if (isGoogleDriveFolder(files.mimeType)) {
              const headerMarkup = markUpParamsContent(files, true);
              paramsDetailHolder.insertAdjacentHTML('beforeend', headerMarkup);
            } else {
              const markup = markUpParamsContent(files, false)
              paramsDetailHolder.insertAdjacentHTML('beforeend', markup);
            } 
            files['files'].forEach(file => {
              const markup = markUpParamsContent(file, false);
              paramsDetailHolder.insertAdjacentHTML('beforeend', markup);
            });
          });
        } catch (error) {
          console.error('Error fetching file data:', error);
          paramsDetailHolder.dataset.loaded = '0';
          // Handle error (show user notification, etc.)
        }
      });
    });
  }); // end of DOMContentLoaded
  function markUpParamsContent(file, isFolder=false) {
    if (isFolder) {
      return `<div class="title is-5 has-text-weight-medium">${file.name}</div>`;
    }
    return `<div class="has-text-weight-medium py-1"><a href="${file.webViewLink}" target="_blank">${file.name}</a></div>`;
  }
</script>
{% endblock scripts %}